
<div class="highlights__item" style="background-image: url('{{site.img}}/highlights/{{item.id}}.jpg');">
  <a href="javascript:void(0);" data-modal-item="{{item.id}}" data-modal-group="section" class="bg-img__link js-open-modal"></a>
  {% if item.qatar-crew %}<div class="highlights__item-crew" style="background-image: url({{site.img}}/crew.jpg);"></div>{% endif %}
  <div class="bg-img__content">
    <div class="boxpad--sm">
      <h4 class="title title--display title--xs text--bold">{{item.title}}</h4>
      {% if item.subtitle %}
        <div class="space--xxxs"></div>
        <p class="title text--upper text--bold">{{item.subtitle}}</p>
      {% endif %}
    </div>
  </div>
  <div class="bg-img__overlay"></div>
</div>