
<div class="highlights__item" style="background-image: url('{{site.img}}/highlights/{{item.id}}.jpg');">
  <a href="javascript:void(0);" data-modal-item="{{item.id}}" class="bg-img__link js-open-modal"></a>
  <div class="bg-img__content">
    <div class="boxpad--lg">
      <div class="bg-img__play"></div>
      <div class="space--sm"></div>
      <div class="title title--md text--bold">{{item.title}}</div>
      {% if item.subtitle %}
        <div class="space--xs"></div>
        <div class="title text--bold text--wide-kern text--upper">{{item.subtitle}}</div>
      {% endif %}
    </div>
  </div>
  <div class="bg-img__overlay"></div>
</div>
