
<div class="page-nav js-sticky-nav">
  <div class="page-nav__scroll-wrap">
    <div class="page-nav__wrap">

      {% for section in page.sections %}
      <span class="page-nav__item">
        <a class="page-nav__link" href="#section-{{section.id}}">{{section.title}}</a>
      </span>
      {% endfor %}

      <span class="page-nav__item">
        <a class="page-nav__link" href="#section-flights">Flights</a>
      </span>

      <span class="page-nav__item">
        <a class="page-nav__link page-nav__link--book" href="#section-flights">Book now</a>
      </span>

    </div>
  </div>
</div>