<div class="offer-promo vpad--xxl">
  <div class="offer-promo__bgs">
    <div class="offer-promo__bg" style="background-image: url('https://d2g6qre7voj6kv.cloudfront.net/sales/94393/910deb03_4f2d_4cd2_9637_d242a5d4bc85.jpg?auto=format,compress')"></div>
    <div class="offer-promo__bg" style="background-image: url('https://d2g6qre7voj6kv.cloudfront.net/sales/94393/fbf2d468_db4e_49de_a27a_2ad91925683f.jpg?auto=format,compress')"></div>
    <div class="offer-promo__bg" style="background-image: url('https://d2g6qre7voj6kv.cloudfront.net/sales/94393/431c3632_ca14_4b51_a93c_300e89b0d385.jpg?auto=format,compress')"></div>
  </div>
  <div class="offer-promo__content">
    <div class="container container--xl">
      <div class="text--center text--white">

        <div class="title text--xl text--bold text--upper">Featured Sale</div>
        <div class="space--xs"></div>
        <h2 class="core-title core-title--xl core-title--serif">The Grace Hotel</h2>
        <hr class="hr--center">
        <p class="text--xl text--medium">A beautifully restored 1920’s hotel with Art Deco interiors and a central Sydney location, including breakfast </p>
        <div class="space--sm"></div>
        <a id="track-btn-current-sales" href="https://www.secretescapes.com/the-grace-hotel-sydney-australia/sale" class="btn btn--orange">View offer</a>

      </div>
    </div>
  </div>
</div>