
// need to put a friendly reminder where the g fonts snippet needs to go in the whole site
// additional families need to included in includes > page > head

$font-core: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
$font-core-serif: 'Source Serif Pro', 'Georgia', serif;
$font-title-01: 'Exo 2', 'Helvetica Neue', sans-serif;
$font-qatar: 'Zilla Slab', 'Helvetica Neue', sans-serif;
