
<a class="logo logo--partner logo--qantas{% if include.small %} logo--qantas-sm{% endif %}" href="{{site.client.link}}" id="tracking-partner-logo"><img class="js-svg-swap" src="{{ site.baseurl }}/img/logo/qantas.png" alt="{{site.client.name}} Logo"></a>

<a class="logo logo--partner{% if include.small %} logo--partner-sm{% endif %}" href="{{site.second-client.link}}" id="tracking-partner-logo"><img class="js-svg-swap" src="{{ site.baseurl }}/img/logo/partner.png" alt="{{site.second-client.name}} Logo"></a>