// general styles for the project that wouldn't be a reuseable component


.page-intro {
  position: relative;
  padding-top: $s6;
  padding-bottom: $s11;
  &:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    height: 100px;
    top: -100px;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
  }
  &__nav {
    border-top: 1px solid rgba($grey-darkest,0.2);
    height: 58px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
  }
}



/*======= PAGE GUIDE SECTION ========*/

.page-section {
  padding-top: $s8;
  padding-bottom: $s8;
  @include background-attributes;
  background-attachment: fixed;
}



/* HIGHLIGHTS */

.highlights {
  &__item {
    display: block;
    position: relative;
    @include background-attributes();
    @include transition;
    box-shadow: 0 2px 8px 2px rgba($black,0.1);
    transform: scale(1);
    &:hover {
      box-shadow: 0 4px 16px 4px rgba($black,0.3);
      transform: scale(1.05);
    }

    // FIXED HEIGHT FOR ALL ITEMS REGARDLESS OF WIDTH
    &:before {
      content: '';
      display: block;
      width: 100%;
      padding-top: 280px; // consistent height
      @include bp($lg){ padding-top: 360px; }
    }
  }
  // changes height of items for 3 column layout
  &--3-col {
    .highlights__item {
      &:before {
        padding-top: 280px; // consistent height
        @include bp($lg){ padding-top: 420px; }
      }
    }
  }
}




/*======= FOOTER QATAR SECTION ========*/

.qatar-section {
  position: relative;
  padding-bottom: $s10;
  background-color: #ede8d4;

  & .title { font-family: $font-qatar; }

  &__wave {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    padding-top: 6.5%;
    background-image: url('../img/content/qatar/waves.svg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  // Top banner
  &__banner {
    position: relative;
    padding: $s10 0 $s12;
    background-image: url('../img/content/qatar/bg.jpg');
    color: $white;
    & .title { color: $white; }
    @include background-attributes;
    &-wave { background-image: url('../img/content/qatar/waves-beige.svg'); }
    &-logo {
      display: block;
      position: relative;
      width: 200px;
      padding-top: 10%;
      background-image: url('../img/logo/qatar.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin-bottom: $s2;
    }
  }

  &__fare {
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 rgba($grey-darkest, 0.1);
  }

}