---
layout: default
---


<!-- PAGE INTRO -->
<div class="bg--white page-intro">
  <div class="container container--xxl text--center">
    {{page.intro}}
  </div>
  <div class="page-intro__nav">
    {% include nav/page-nav.html %}
  </div>
</div>



<!-- PAGE SECTIONS -->
<div class="bg--grey-lightest">
  {% for section in page.sections %}
    <div class="wp" id="section-{{section.id}}"></div>

    <div class="page-section" style="background-image: url('{{site.img}}/content/{{section.id}}/bg.jpg');">

      <div class="container">

        <!-- INTRO -->
        <div class="row row--valign-center">
          <div class="col col--9">
            <h2 class="title title--display title--xxxl text--bold">{{section.title}}</h2>
            <div class="space--xxs"></div>
            {{section.description}}
          </div>

        </div>

        <!-- HIGHLIGHTS -->
        <div class="vpad--xl">
          {% assign videoCount = section.videos | size %}
          {% assign videos = site.data.modal.video %}
          {% assign highlights = site.data.highlights %}

          <div class="row highlights{% if videoCount == 1 %} highlights--3-col{% endif %}">

            <!-- VIDEOS -->
            {% for pageVideo in section.videos %}
              {% assign videoData = videos | where: 'id', pageVideo.id %}
              {% for item in videoData %}

              {% if videoCount > 1 %}
              <div class="col col--12 col--xxl-6">
              {% else %}
              <div class="col col--12 col--xxl-8">
              {% endif %}
                {% include cards/video.html %}
              </div>

              {% endfor %}
            {% endfor %}



            <!-- HIGHLIGHTS -->
            {% for pageHighlight in section.highlights %}
              {% assign highlightData = highlights | where: 'id', pageHighlight.id %}
              {% for item in highlightData %}


                <div
                  class="col col--12 col--lg-6
                  {% if videoCount > 1 %} col--xxl-3
                  {% else %} col--xxl-4
                  {% endif %}">
                  {% include cards/highlight.html %}
                </div>

              {% endfor %}
            {% endfor %}
          </div> <!-- END .row.highlights -->



          {% if section.events %}
          <!-- EVENTS -->
            <div class="space--md"></div>
            <div class="vpad--md text--center">
              <h2 class="title title--md text--bold">Events</h2>
            </div>
            <div class="row highlights">
            {% for pageEvents in section.events %}
              {% assign eventData = highlights | where: 'id', pageEvents.id %}
              {% for item in eventData %}

                <div class="col col--12 col--lg-6 col--xxl-3">
                  {% include cards/event.html %}
                </div>

              {% endfor %}
            {% endfor %}
            </div>
          {% endif %}


        </div> <!-- END .vpad--xl -->
      </div>
    </div>
  {% endfor %}
</div>



{% include qatar-section.html %}